<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title><?=$web_title?></title>
<LINK href="<?=$www_site_url?>/public/yav-style.css" type=text/css rel=stylesheet>
<script src="<?=$www_site_url?>/public/js/yav2.0/yav.js"></script>
<? if(APP_LANG=='cn'){?>
<script src="<?=$www_site_url?>/public/js/yav2.0/yav-config-zh-CN.js"></script>
<? }?>
<? if(APP_LANG=='en'){?>
<script src="<?=$www_site_url?>/public/js/yav2.0/yav-config.js"></script>
<? }?>
<SCRIPT>
//only for test purposes
function checkOnSubmit(formName, r) {
  
    if (yav.performCheck(formName, r, 'inline')) {
       return true;
    } 
    return false;
}

var rules=new Array();

rules[0]='newpwd1|required|<?=$lang_passport['insertpwd']?>';
rules[1]='newpwd1|minlength|6|<?=$lang_passport['pwdrule']?>';
rules[2]='newpwd2|equal|$newpwd1|<?=$lang_passport['pwdnotsame']?>';


yav.addHelp('new1', '<?=$lang_passport['insertyouranswer']?>');




</SCRIPT>

</head>
<body onload="yav.init('resetpwdform', rules);">
<h1> <?=$web_title?></h1>
<FORM name="resetpwdform" method="POST" onsubmit="return checkOnSubmit('resetpwdform', rules);" >
<input type="hidden" name="action" value="passport">
<input type="hidden" name="op" value="resetpwd">
<input type="hidden" name="code" value="<?=$code?>">
<TABLE valign=top>

<TR><TD><?=$lang_passport['newpwd']?>:</TD><TD><INPUT class="textfield" type="password" name=newpwd1 />&nbsp;&nbsp;<span id=errorsDiv_newpwd1></span></TD></TR>
<TR><TD><?=$lang_passport['newpwd2']?>:</TD><TD><INPUT class="textfield" type="password" name=newpwd2 />&nbsp;&nbsp;<span id=errorsDiv_newpwd2></span></TD></TR>


<TR><TD colspan="2"><INPUT class="button" type=submit value="<?=$lang_passport['submit']?>" /> <br></TD><TD></TD></TR>
</TABLE>
</form>
</body>
</html>