BODY {
	FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif; FONT-SIZE:14px
}
INPUT.textfield{border:1px solid #ccc; color:#777; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; padding:.25em .2em; 
width:200px; margin:0 0 .25em}
INPUT.button{border:1px outset #ccc; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; padding:.25em .2em; margin:0 0 .25em}
#header{background:#fcfcfc url(images/header_bg.png) 0 100% repeat-x;height:6.82em;min-width:75em;}
#footer{background:#fcfcfc url(images/header_bg.png) 0 100% repeat-x;height:4em;text-align:center;
BORDER-TOP: #ccc 1px solid; FONT-FAMILY: Helvetica;font-size:12px; PADDING-TOP: 10px; COLOR: #666}
#menu{height:30px;background:#dadada;margin-bottom:1.5em;line-height:30px;}
#menu ul{list-style:none;margin:0;}
#menu li{float:left;position:relative;margin:0}
#menu a{padding:.3em;margin-left:2em;color:black;text-decoration:none;}
#menu a:hover{text-decoration:none;background-color:#eee;}
#menu a.active{background-color:#eee;}
#language {float:right}
.inputError {
	BORDER-RIGHT: #FF8000 1px solid; BORDER-TOP: #FF8000 1px solid; MARGIN: 0px; BORDER-LEFT: #FF8000 1px solid; BORDER-BOTTOM: #FF8000 1px solid; COLOR: #FF8000; BACKGROUND-COLOR: #FFFFD7
}
.inputNormal {
	
}
.innerError {
    background-image: url(images/invalid.gif);
    background-position: left top;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 20px;
    padding-top: 1px;
	BORDER-RIGHT: #FF8000 0px solid; BORDER-TOP: #FF8000 10x solid; MARGIN: 0px; BORDER-LEFT: #FF8000 0px solid; BORDER-BOTTOM: #FF8000 0px solid; COLOR: #FF8000
}
.innerHelp {
	background-image: url(images/valid.gif);
    background-position: left top;
    background-repeat: no-repeat;
    background-color: white;
    padding-left: 20px;
    padding-top: 1px;
	BORDER-RIGHT: #008000 0px solid; BORDER-TOP: #008000 10x solid; MARGIN: 0px; BORDER-LEFT: #008000 0px solid; BORDER-BOTTOM: #008000 0px solid; COLOR: #008000
}
